@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

<<<<<<< HEAD
    &--centrar{
        justify-content: center;
    }

=======
>>>>>>> c8439cb4129c9dac12c1c6c1f1bc9a783d21830e
    &__enlace{
        color: v.$negro;
        font-size: 1.4rem;
        font-weight: v.$delgada;
    }
}